body {
    margin: 0%;
}
header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vw;
    background-color: #ccc;
}
.header {
    height: 30px;
    background-color: #ff0000;
}
.slider {
    flex: 1;
    overflow: hidden;
}
.slider--width {
    height: 100vw;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item {
    width: 100vw;
    height: inherit;
    background-size: cover;
    background-position: center;
}
.slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}